<h1><%= @user.username %></h1>

<h3><%= @user.username %>'s Products</h3>
<ul>
  <% @user.products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %> <%= link_to "Edit", edit_product_path(product.id) %>
    <% if product.selling? %>
    <%= link_to "Retire product", status_path(product.id), method: :patch %>
    <% else %>
    <%= link_to "Sell product", status_path(product.id), method: :patch %>
    <% end %>

  </li>
  <% end %>
</ul>
<%= button_to "Add a product to your store", new_product_path, method: :get %>
<%= button_to "Add a new category", new_category_path, method: :get %>


<h3><%= @user.username %>'s Purchases</h3>

<h3><%= link_to 'My Sales Orders', user_orders_path(@user.id) %></h3>
