<div class="row title">
  <h3 class="small-12 cloumns">
    Order history
  </h3>
</div>
<div class="row">
  <div class="small-12 medium-6">
    <h4>SALES SUMMARY:</h4>
    <ul>
      <li>
        Total revenue: <%= number_to_currency(current_user.user_total) %>
      </li>
      <li>
        Fulfilled items total revenue: <%= number_to_currency(current_user.user_status_total(true)) %>
      </li>
      <li>
        Unfulfilled items total revenue: <%= number_to_currency(current_user.user_status_total(false)) %>
      </li>
      <li>
        Incomplete orders: <%= current_user.user_status_orders("Paid").sort.reverse.length %>
      </li>
      <li>
        Complete orders: <%= current_user.user_status_orders("complete").sort.reverse.length %>
      </li>
    </ul>

  </div>
  <div class="small-12 medium-6">
    <h4>Fulfillment Summary:</h4>
    <%= link_to "All orders", user_orders_path %>
    <%= link_to "Incomplete orders", user_orders_incomplete_path %>
    <%= link_to "Complete orders", user_orders_complete_path %>
  </div>
</div>
