<article class="update-order">

  <div class="row title">
    <h3 class="small-12 cloumns">
      Confirmation
    </h3>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h4>Shipping Information</h4>

      <p>Shipped to:</p>
      <ul>
        <li><%= @order.name_on_cc %></li>
        <li><%= @order.address %></li>
        <li>Confirmation Email sent to: <%= @order.email %> </li>
      </ul>
    </div>
    <div class="small-12 medium-6 columns">
      <h4>Order Details</h4>
      <p>Order was placed at: <%=@order.updated_at %></p>
      <p>Order status: <%=@order.status %></p>
      <table>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.product.name, product_path(order_item.product.id) %></td>
          <td><%= number_to_currency(order_item.product.price) %></td>
          <td><%= order_item.quantity %></td>
          <td><%= number_to_currency(order_item.subtotal) %></td>
        </tr>
        <% end %>
        </table>
        <p>
          <!-- This will update if product prices get updated, so do we need to hard save this data in the dB? -->
            <strong>Your Total was: <%= number_to_currency(@order.total) %></strong>
        </p>
    </div>
  </div>

</article>
