
<h2><%= @product.name %></h2>
Category:
<ul>
  <% @product.categories.each do |category| %>
  <li>
    <%= category.name %>
  </li>
  <% end %>
</ul>
<p><%= @product.description %> </p>
<ul>
<li>
  <%= @product.price %>
</li>
<li>
  <%= @product.stock %> left in stock
</li>
<li>
  Selling status:  <%= @product.sell_status %>
</li>
<li>
<%= link_to @product.user.username, user_products_path(@product.user.id) %>
</li>
</ul>


<img src="<%=@product.photo_url%>">

<%= form_for @item, url: new_order_item_path(@product.id), method: :post do |f| %>

  <%= f.label :quantity %>
  <%= f.select :quantity, (0..@product.stock) %>

  <%= f.submit "Add to Cart" %>

<% end %>



<%= link_to "Back to all products", products_path %>

  <% if can_edit? %>
    <%= link_to "Edit this product", edit_product_path(@product.id) %>
  <% end %>
  <% if can_review? %>
    <%= link_to "Review this product", new_product_review_path(@product.id) %>
  <% end %>


<section class="review">
  <h2>Reviews!</h2>
  <% @product.reviews.each do |review| %>
  <h3>Rating: <%= review.rating %></h3>
  <h3><%= review.title %> <small>reviewed on <%= review.updated_at.strftime("%m/%d/%Y") %></small></h3>
  <section class="review-body" >
    <p>
      <%= review.review_text %>
    </p>
  </section>
  <% end %>
</section>
