<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sail" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=League+Script|Quattrocento+Sans|Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Lato" rel="stylesheet">


  <title>Debtsy</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="row">
  <header>
    <div class="row" id="top-row">
      <div class="small-3 medium-5 columns">
        <h1 class="main-header"><%= link_to "Debtsy", root_path %><small> Treat yo'self</small></h1>
      </div>
      <div class="cart small-3 medium-5 columns">
        <%= link_to image_tag( "cart"), cart_path %>
        <p><%= total_items_in_cart %></p>
      </div>
    </div>
    <div class="row shop-by">
      <div class="small-12 large-6 columns shop-by">
        <ul>
          <li>
            <div class="columns small-12">
              <%= link_to "shop by category", categories_path %>
            </div>
          </li>
          <li>
            <div class="columns small-12">
              <%= link_to "shop by merchant", users_path %>
            </div>
          </li>
          <li>
            <div class="columns small-12">
              <%= link_to "see all products", products_path %>
            </div>
          </li>
        </ul>
      </div>
      <nav class="small-12 large-6 columns" id="nav-bar">
        <% if current_user %>
        <ul class="header-login">
          <li>
            logged in as <%= current_user.username %>
          </li>
          <li>
            <%= button_to "My account", user_path(current_user.id), method: :get, class: "button" %>
          </li>
          <li>
            <%= button_to "Log out", logout_path, method: :delete, class: "button" %>
          </li>
        </ul>
        <% else %>
        <ul class="header-login">
          <li>
            <%= button_to "Log in", '/auth/github', class: "button" %>
          </li>
        </ul>
        <% end %>
      </nav>
    </div>
  </header>
  <main class="content row">
    <section class="flash">
      <% flash.each do |name, message| %>
      <p class="row status <%= name %>"><%= message %></p>
      <% end %>
    </section>
    <%= yield %>
  </main>
  <footer>
    <div class="row">
      <p class="small-12 column">
        &copy;2017 <%= link_to "Jolly Owl", "/jolly_owl", method: :get %>
      </p>

    </div>
  </footer>
</body>
</html>
